
@model  admin.login.AdminLogin

@{
    ViewData["Title"] = "login Page";
}


<!DOCTYPE html>
<html>
<body>
    <div>
        @using(Html.BeginForm("Login","Account", FormMethod.Post))
        {
            @Html.ValidationSummary()

            @Html.HiddenFor(admin => admin.RoutedUrl)
            
            <div class="form-group">
                <label>username</label>
                @Html.TextBoxFor(admin=>admin.UserName, new { @class="form-control", Placeholder=@Model.UserName})
            </div>
            <div class="form-group">
                <label>password</label>
                @Html.PasswordFor(admin=>admin.Password, new { @class="form-control", Placeholder=@Model.Password})
            </div>
            
            <div>@ViewBag.Msg</div>
            
            <button type="submit" class="btn-primary">login</button>
        }
    </div>

</body>
</html>